html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;  /* запрещает прокрутку */
  touch-action: none; /* отключает стандартные жесты прокрутки */
  font-family: sans-serif;
  background-color: #111; /* фон игры */
}

#gameContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
